@{
    ViewData["Title"] = $"Eliminar Producto";
}

@model Producto

<div class="mb-3 d-flex justify-content-center">
    <form asp-controller="Producto" asp-action="EliminarProducto" autocomplete="off" class="card bg-dark border-secondary p-4"
        style="max-width: 500px; width: 100%;">
        <input type="hidden" asp-for="IdProducto">
        <h2 class="text-center text-light">Eliminar Producto</h2>
        <div class="mb-3 text-center text-white">
            <p>¿Elimar producto con id: @Model.IdProducto?</p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-danger w-50 efecto-hover">
                <i class="far fa-trash"></i>
            </button>
        </div>
    </form>
</div>